:root {
	--font-sans: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue',
		sans-serif;
	--font-monospace: 'SFMono-Regular', Andale Mono, Consolas, 'Liberation Mono', Menlo, monospace;
	--font-serif: Palatino, 'Palatino Linotype', 'Palatino LT STD', 'Book Antiqua', Georgia, serif;
}
html {
	font-size: clamp(1rem, calc(0.9rem + 0.5vw), 1.3rem);
	scroll-behavior: smooth;
}

body {
	font-family: var(--font-sans);
	line-height: 1.5;
	color: var(--color-text);
	background-color: var(--color-background);
	height: 100%;
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
}
