$breakpoint-sm: 480px;
$breakpoint-md: 768px;
$breakpoint-lg: 1024px;
:root {
	--breakpoint-sm: #{$breakpoint-sm};
	--breakpoint-md: #{$breakpoint-md};
	--breakpoint-lg: #{$breakpoint-lg};
}

@mixin sm-and-up {
	@media (min-width: #{$breakpoint-sm}) {
		@content;
	}
}

@mixin md-and-up {
	@media (min-width: #{$breakpoint-md}) {
		@content;
	}
}

@mixin lg-and-up {
	@media (min-width: #{$breakpoint-lg}) {
		@content;
	}
}
